<h1 class="loa">作品目录</h1>
<table>
    <thead>
        <tr>
            <th> 标题 </th>
            <th> 日期 </th>
            <th> 系列 </th>
        </tr>
    </thead>
    <tbody>
        {% for post in site.posts %}
          {% if page.finished != false %}
        </tr>
        <td class="td_title"><a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a></td>
        <td class="td_date">{{post.date | date: "%b %d, %y"}}</td>
        <td class="td_category">{{post.category}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>